<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name="ErrorLog" xsi:type="File"
        fileName="${basedir}/Logs/Error_${date:format=yyyy.MM.dd}.log"
        archiveEvery="Day"
        archiveNumbering="Rolling"
        maxArchiveFiles="365"
        layout="${date:format=yyyy-MM-dd HH\:mm\:ss}    ${message}${onexception:${newline}${exception:format=tostring}}"
        />
  </targets>

  <rules>
    <logger name="ErrorLog" minlevel="Trace" writeTo="ErrorLog" />
  </rules>
</nlog>
